* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

code {
    background-color: rgba(112, 124, 146, 0.2);
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 2px 5px;
    margin-top: 20px;
}

#main {
    max-width: 1024px;
    padding: 0 30px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 30pt;
    font-weight: 100;
    font-family: "Segoe UI", sans-serif;
    margin: 20px 0;
}

.photo {
    position: absolute;
    right: 50%;
    height: 200px;
}

.resume {
    margin: 0 0 60px 30px;
}
.resume .resume__element {
    font-weight: 700;
    font-size: 18pt;
    margin: 10px 0;
}
.resume .resume__element-content {
    font-weight: 500;
    padding-left: 20px;
    font-size: 14pt;
}

.labeled-block .labeled-block__label {
    font-weight: 700;
    font-size: 16pt;
    color: #242a2f;
}
.labeled-block .labeled-block__value {
    font-style: italic;
}
